#homeGrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  width: 60%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  margin-bottom: 200px;
}

#headshot{
  width: 400px;
  height: 400px;
}


.homeText p{
  font-size: 30px;
  line-height: 40px;
}

.buttons button {
  border-radius: 20px;
  box-sizing: content-box;
  width: 192px;
  height: 28px;
  margin-right: 20px;
  background-color: #0B2545;
  color: white;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
}

.faIcon{
  margin-left: 10px;
}

.faIconEnvelope{
  margin-right: 10px;
}

.icons img {
  width: 56px;
  height: 56px;
  margin-right: 50px;
}