#projects {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

#projects .project-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70.63%;
  border: 2px solid rgb(161, 161, 166);
  margin-bottom: 50px;
  background-color: rgb(20,20,20);
  position: relative;
  box-shadow: 0 0 10px 2px rgba(169, 169, 169, 0.7);
}

.left-project-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-project-box p {
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
  color: #9C9C9C;
}

.left-project-box h3{
  font-size: 28px;
  margin: 0;
  margin-top: 30px;
  color: rgb(245, 245, 247);
}

#projects .project-box button{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(20,20,20);
  color: rgb(245, 245, 247);
  font-size: 16px;
  border: 2px solid rgb(161, 161, 166);
  margin-bottom: 20px;
}

#projects .project-box button:hover{
  cursor: pointer;
  border: 2px solid #FFF;
}

.image-container{
  position: relative;
}

.image-container .image{
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 10px 2px rgba(169, 169, 169, 0.7);
}

@media (max-width: 1024px) {
  #projects .project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .image-container .image{
    width: 0px;
    height: 0px;
  }
}

