#projects {
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  justify-items: center;
  margin-bottom: 200px;
}

#projects .project-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  width: 600px;
  border: 2px solid black;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgba(173, 216, 230, 0.4);;
}