#skills {
  margin-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.skills-container .box{
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: auto;
  padding: 0px 12px 0px 12px;
  border-radius: 14px;
  background-color: rgb(20,20,20);
  color: rgb(245, 245, 247);
  border: 2px solid rgb(161, 161, 166);
  box-shadow: 0 0 10px 2px rgba(169, 169, 169, 0.7);
}

.skills-container .box:hover{
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}